{
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "semi": false,
  "trailingComma": "es6",
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false
}